[[source]]
url = "http://localhost:8081/repository/pypi-proxy/simple"
verify_ssl = false
name = "pypi-proxy"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
pillow = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
